{#{% load static %}#}
{% extends 'layout.html' %}

{% block content %}
    <div>
        <div class="container">

            <div style="margin: 10px">
                <a class="btn btn-success" href="/upload/modelform/">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {# 图标 #}
                    新建部门
                </a>
            </div>

            <div class="panel panel-default">
                {#           整个表格#}
                <!-- 这是上面那一列 -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {# 图标 #}
                    城市列表
                </div>

                <!-- 表单 -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>LOGO</th>
                        <th>名称</th>
                        <th>人口</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in queryset %}
                        <tr>
                            <th scope="row">{{ i.id }}</th>
                            <td>
                                <img src="/media/{{ i.img }}" style="height: 100px;">
                            </td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
{% endblock %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css'%}">#}
{#    去掉圆角#}
{#    <style>#}
{#        .navbar{#}
{#            border-radius: 0;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{##}
{# 引入 #}
{#<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>#}
{#<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>#}
{##}
{#导航条#}
{#<nav class="navbar navbar-default">#}
{#  <div class="container">{# container-fluid是填满 #}
{#    <!-- Brand and toggle get grouped for better mobile display -->#}
{#    <div class="navbar-header">#}
{#      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#        <span class="sr-only">Toggle navigation</span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#      </button>#}
{##}
{#        标题#}
{#      <a class="navbar-brand" href="#">联通用户管理系统</a>#}
{#    </div>#}
{##}
{#    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#      <ul class="nav navbar-nav">#}
{#        <li><a href="/depart/list/">部门管理</a></li>#}
{#        <li><a href="#">Link</a></li>#}
{##}
{#          下拉框#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#">Action</a></li>#}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">One more separated link</a></li>#}
{#          </ul>#}
{#        </li>#}
{#      </ul>#}
{##}
{#        输入框#}
{#      <form class="navbar-form navbar-left">#}
{#        <div class="form-group">#}
{#          <input type="text" class="form-control" placeholder="Search">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default">Submit</button>#}
{#      </form>#}
{##}
{#        下拉框#}
{#      <ul class="nav navbar-nav navbar-right">#}
{#        <li><a href="#">登录</a></li>#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">徐晓涵<span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#">个人资料</a></li>#}
{#            <li><a href="#">我的信息</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">注销</a></li>#}
{#          </ul>#}
{#        </li>#}
{#      </ul>#}
{#    </div><!-- /.navbar-collapse -->#}
{#  </div><!-- /.container-fluid -->#}
{#</nav>#}

{#<div>#}
{#    <div class="container">#}
{#        <div style="margin: 10px">#}
{#            <a class="btn btn-success" href="/depart/add/" >#}
{#                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {# 图标 #}
{#                新建部门#}
{#            </a>#}
{#        </div>#}
{##}
{#       <div class="panel panel-default">#}
{##}
{##}
{#           整个表格#}
{#      <!-- 这是上面那一列 -->#}
{#      <div class="panel-heading">#}
{#          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {# 图标 #}
{#          部门列表#}
{#      </div>#}
{##}
{#      <!-- 表单 -->#}
{#      <table class="table table-bordered">#}
{#        <thead>#}
{#          <tr>#}
{#            <th>ID</th>#}
{#            <th>名称</th>#}
{#            <th>操作</th>#}
{#          </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for i in queryset %}#}
{#          <tr>#}
{#            <th scope="row">{{ i.id }}</th>#}
{#            <td>{{ i.title }}</td>#}
{#            <td>#}
{#                <a class="btn btn-primary btn-xs" href="/depart/{{ i.id }}/edit/">编辑</a>#}
{#                <a class="btn btn-danger btn-xs" href="/depart/delete/?nid={{ i.id }}">删除</a>#}
{#            </td>#}
{#          </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#      </table>#}
{#    </div>#}
{#    </div>#}
{#</div>#}


</body>
</html>

