{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        编辑用户
    </div>
    <div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> 编辑用户 </h3>
                </div>
                <div class="panel-body">
                    {#              不写action就是提交到当前地址#}
                    {#                                 关闭浏览器校验#}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% for i in form %}
                            <div class="form-group">
                                <label>{{ i.label }}</label> {# label加粗 #}
                                {{ i }}
                                <span style="color: #c7254e">{{ i.errors.0 }}</span>
                                {# 如果有错误信息就会输出,获取的是一个列表，我只要输出第一个错误 #}
                            </div>
                        {% endfor %}


                        <button type="submit" class="btn btn-primary">提 交</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}